.icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #FF3E79;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.icon__image{
    position: relative;
    left: 10px;
    top: 10px;
}

/*@media screen and (min-width: 1120px) {
    .icon__exit{
        display: none;
    }
    .top-bar__left-icons{
        gap: 0;
    }
}*/
