.text{
    font-family: TT Lakes, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #1B1C21;
    margin: 0;
}

.text--hidden--laptop,
.text--hidden--desktop {
    display: none;
}

@media screen and (min-width: 768px){
    .text--hidden--laptop{
        display: block;
    }
}

@media screen and (min-width: 1120px){
    .text--hidden--laptop{
        display: none;
    }

    .text--hidden--desktop{
        display: inline;
    }

}