@import "css/fonts.css";
@import "css/reset-list.css";
@import "css/wrapper.css";
@import "css/top-bar.css";
@import "css/header.css";
@import "css/title.css";
@import "css/nav.css";
@import "css/main.css";
@import "css/article.css";
@import "css/text.css";
@import "css/hidden-text.css";
@import "css/pretext.css";
@import "css/sidebar.css";
@import "css/menu.css";
@import "css/footer.css";
@import "css/languages.css";
@import "css/link.css";
@import "css/icon.css";
@import "css/logo.css";
@import "css/photo.css";
@import "css/devider.css";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: #F8F8F8;
}



