.hidden-content{
    display: none;
}

@media screen and (min-width: 768px) {
    .hidden-content{
        display: flex;
        align-items: center;
    }

    .hidden-content--down{
        margin-top: 10px;
    }

    .hidden-content__icon{
        border: none;
        background-color: #F8F8F8;
        display: flex;
        padding-left: 15px;
        align-items: center;
    }

    .hidden-content--hide{
        display: none;
    }
}
