.photo{
    margin-left: -1rem;
    margin-right: -1rem;
}

@media screen and (min-width: 768px){
    .photo{
        margin: 0;
        display: block;
        width: 360px;
        border-radius: 5%;
    }
}

@media screen and (min-width: 1120px){
    .photo{
        width: 530px;
        border-radius: 3%;
    }
}