.sidebar{
    position: relative;
    width: 320px;
    min-height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 16px 0 50px 0 rgba(14, 24, 80, 0.2);
    /*float: left;
    z-index: 2;*/
}

.sidebar__topbar{
    position: relative;
    display: flex;
    padding: 1rem;
    gap: 1em;
    align-items: center;
}

.sidebar__topbar > li:last-child{
    position: absolute;
    right: 1em;
}

.sidebar__menu{
    padding-bottom: 230px;
}

.sidebar__footer{
    position: absolute;
    margin-left: 1em;
    height: 180px;
    bottom: 0;

}

/*@media screen and (min-width: 1120px){
    .sidebar {
        box-shadow: none;
    }
}*/