.slider{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding-right: 1.5em;
}

.slider__header{
    width: 110%;
    background-image: linear-gradient(#F8F8F8, #FFFFFF);
    border-top: 1px solid #D9FFF5;
    padding: 1em;
    margin-bottom: 1em;
}

.slider__subtitle{
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #7E7E82;
    margin: 0;
}

.slider__main{
    padding-left: 1em;
}

@media screen and (min-width: 768px) {
    .slider__main{
        flex-wrap: wrap;
        gap: 0.8em;
    }
}

