$border-color: #EAEAEA;
$focus-color: #B8FFEC;
$highlight-color: #41F6D7;

.form{

  &__input{
    padding: 1em;
    border-radius: 5px;
    border: 1px solid $border-color;
    font-size: 16px;

    &:focus{
      outline: 1px solid $highlight-color;
    }
  }
}
