$item-bg-color: #FFFFFF;
$border-color: #EAEAEA;
$focus-color: #B8FFEC;
$control-color: #FF3E79;

.services{
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 5em;

  @media screen and (min-width: 768px){
    padding: 0;
  }

  &__list{
    padding: 1em;
    display: flex;
    gap: 0.8em;

    :nth-child(5){
      @media screen and (min-width: 768px){
        border-bottom: none;
      }
    }

    @media screen and (min-width: 768px){
      flex-direction: column;
      gap: 0;
      border-radius: 10px;
      border: 1px solid $border-color;
      background-color: $item-bg-color;
      width: 93%;
      margin: 1em auto;
    }
  }

  &__item{
    display: block;
    width: 240px;
    height: 170px;
    padding: 1em;
    background-color: $item-bg-color;
    border-radius: 10px;
    border: 1px solid $border-color;

    &:hover{
      box-shadow: inset 0 0 5px 1px $focus-color;
      transition: 50ms ease-in-out;

      @media screen and (min-width: 768px){
        box-shadow: none;
      }
    }

    @media screen and (min-width: 768px){
      width: 100%;
      height: 65px;
      border-radius: 0;
      border: none;
      padding: 0;
      border-bottom: 2px solid $border-color;
    }
  }

  &__link{
    text-decoration: none;
  }

  &__content{
    width: 240px;
    position: relative;

    &:hover{

      @media screen and (min-width: 768px) {
        cursor: pointer;
        color: $control-color;
      }
    }

    p{
      line-height: 20px;
      margin-top: 0;

      @media screen and (min-width: 768px){
        margin: 0;
      }
    }
    @media screen and (min-width: 768px){
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr;
      align-items: end;
    }

    &--hidden{
      display: none;

      &:hover{
        cursor: auto;
      }

      @media screen and (min-width: 768px){
        margin-top: 2em;
        display: grid;
      }

      p:first-child{
        @media screen and (min-width: 768px){
          margin-left: 2em;
        }
      }

      p:last-child{
        @media screen and (min-width: 768px){
          margin-left: -1em;
        }
      }
    }
  }

  &__pagination{
    margin-left: 3em;
  }

  &__subtitle{
    margin-right: -5em;
  }
}
