$highlight-color: #41F6D7;

.title{
    font-family: TT Lakes, Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0;

  @media screen and (min-width: 1366px){
      width: 100%;
    }

  &:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 40px;
    border-radius: 40%;
    background-color: $highlight-color;
  }

  &__controls{
    position: absolute;
    display: flex;
    width: 100px;
    justify-content: flex-end;
    top: -6.1em;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding-right: 1em;

    @media screen and (min-width: 1366px){
      position: relative;
      top: 0;
      left: 0;
      gap: 15px;
    }
  }

  &__control{

    @media screen and (min-width: 1366px){
      text-decoration: none;
    }
  }
}
