html {
    box-sizing: border-box;
    font-family: TT Lakes, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #F8F8F8;
}
