$swiper-color: #B5B6BC;

.swiper-pagination{
  display: block;
    position: relative;
    margin-top: 1em;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $swiper-color;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background: $swiper-color;
}


